<section class="login_page">
    <mat-card class="card">
        <figure class="logo">
            <img src="../../assets/logo.png" /> <br>
            <!-- <h3 class="logo">MyVehicle</h3> -->
        </figure>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <mat-card-content>
                <section class="login-content">
                    <h1 class="text-center">Login Here</h1>
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Please Enter Email" name="email" formControlName="email"
                            required />
                        <mat-error *ngIf="loginForm.controls['email'].errors?.email">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="loginForm.controls['email'].errors?.required">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Please Enter password" name="password"
                            formControlName="password" required />
                        <mat-error *ngIf="loginForm.controls['password'].errors?.required">
                            Please enter a valid Password
                        </mat-error>                        
                    </mat-form-field>                                                                     
                    <div class="text-left"><mat-checkbox formControlName="remember">Remember me</mat-checkbox>  </div>                    
                    <button mat-raised-button color="primary" class="full-width" type="submit">Login &nbsp;<mat-icon>
                            touch_app</mat-icon>
                    </button>
                </section>
                <p class="text-danger" *ngIf="loginMessg">
                    Email or passwor is inccorect. Please try again with different credentials.
                </p>
            </mat-card-content>
            <mat-card-footer>
                <br>
                <p><a href="#">Forgot password?</a></p>
                <p><label><a href="#">Create an account. SignUp here</a> </label></p>
            </mat-card-footer>

        </form>
    </mat-card>
</section>