<header>
    <figure class="logo">
        <img src="../../../assets/logo.png" />
    </figure>
    <nav class="navbar nav navbar-light">
        <ul class="nav">
            <li><mat-icon>message</mat-icon></li>
            <li><mat-icon>notification_important</mat-icon></li>
            <li><mat-icon>user</mat-icon>&nbsp;<b>John Deo</b>&nbsp;&nbsp;</li>
            <li><button mat-raised-button color="primary" (click)="logout()">Logout <mat-icon>power-off</mat-icon> </button></li>
        </ul>
    </nav>
</header>